<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
          <key>item0</key>
          <string>50426</string>
          <key>item1</key>
          <string>Prof.</string>
          <key>item2</key>
          <string>Abraham Sudharson Ponraj</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>4</string>
          <key>item6</key>
          <string>MAIN</string>
          <key>item7</key>
          <string></string>
          <key>item8</key>
          <string>5</string>
          <key>item9</key>
          <string>1212</string>
          <key>item10</key>
          <string>abrahamsudharson.ponraj@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50617</string>
          <key>item1</key>
          <string>Dr.</string>
          <key>item2</key>
          <string>Ananiah Durai S</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>5</string>
          <key>item6</key>
          <string>MAIN</string>
          <key>item7</key>
          <string>504</string>
          <key>item8</key>
          <string>13</string>
          <key>item9</key>
          <string>1517</string>
          <key>item10</key>
          <string>ananiahdurai.s@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50274</string>
          <key>item1</key>
          <string>Prof.</string>
          <key>item2</key>
          <string>Anita Angeline A</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>5</string>
          <key>item6</key>
          <string>ANNEX</string>
          <key>item7</key>
          <string>504</string>
          <key>item8</key>
          <string>5</string>
          <key>item9</key>
          <string>1079</string>
          <key>item10</key>
          <string>anitaangeline.a@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50293</string>
          <key>item1</key>
          <string>Dr.</string>
          <key>item2</key>
          <string>Anith Nelleri</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>6</string>
          <key>item6</key>
          <string>ANNEX</string>
          <key>item7</key>
          <string></string>
          <key>item8</key>
          <string>7</string>
          <key>item9</key>
          <string>1078</string>
          <key>item10</key>
          <string>anith.nelleri@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50621</string>
          <key>item1</key>
          <string>Dr.</string>
          <key>item2</key>
          <string>Annis Fathima A</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>4</string>
          <key>item6</key>
          <string>ANNEX</string>
          <key>item7</key>
          <string></string>
          <key>item8</key>
          <string>11</string>
          <key>item9</key>
          <string>1468</string>
          <key>item10</key>
          <string>annis.fathima@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50067</string>
          <key>item1</key>
          <string>Dr.</string>
          <key>item2</key>
          <string>Augusta Sophy Beulet P</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>6</string>
          <key>item6</key>
          <string>ANNEX</string>
          <key>item7</key>
          <string></string>
          <key>item8</key>
          <string>3</string>
          <key>item9</key>
          <string>1312</string>
          <key>item10</key>
          <string>augustasophyt.p@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50591</string>
          <key>item1</key>
          <string>Prof.</string>
          <key>item2</key>
          <string>Bala Murugan M S</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>5</string>
          <key>item6</key>
          <string>MAIN</string>
          <key>item7</key>
          <string>504</string>
          <key>item8</key>
          <string>1</string>
          <key>item9</key>
          <string>1495</string>
          <key>item10</key>
          <string>balamurugan.ms@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50619</string>
          <key>item1</key>
          <string>Dr.</string>
          <key>item2</key>
          <string>Berlin Hency V</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>Canteen </string>
          <key>item5</key>
          <string>2</string>
          <key>item6</key>
          <string>MAIN</string>
          <key>item7</key>
          <string></string>
          <key>item8</key>
          <string>32</string>
          <key>item9</key>
          <string>1497</string>
          <key>item10</key>
          <string>berlinhency.victor@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50729</string>
          <key>item1</key>
          <string>Dr.</string>
          <key>item2</key>
          <string>Bindu B</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>3</string>
          <key>item6</key>
          <string>ANALOG LAB</string>
          <key>item7</key>
          <string></string>
          <key>item8</key>
          <string>307A</string>
          <key>item9</key>
          <string>1464</string>
          <key>item10</key>
          <string>bindu.boby@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50030</string>
          <key>item1</key>
          <string>Dr.</string>
          <key>item2</key>
          <string>Brintha Therese  A</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>3</string>
          <key>item6</key>
          <string>MAIN</string>
          <key>item7</key>
          <string>310-311</string>
          <key>item8</key>
          <string></string>
          <key>item9</key>
          <string>1236</string>
          <key>item10</key>
          <string>abrinthatherese@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50418</string>
          <key>item1</key>
          <string>Dr.</string>
          <key>item2</key>
          <string>Chandrasekaran N</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>4</string>
          <key>item6</key>
          <string>ANNEX</string>
          <key>item7</key>
          <string></string>
          <key>item8</key>
          <string>39</string>
          <key>item9</key>
          <string>1382</string>
          <key>item10</key>
          <string>chandrasekar.n@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50562</string>
          <key>item1</key>
          <string>Dr.</string>
          <key>item2</key>
          <string>Chitra K</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>6</string>
          <key>item6</key>
          <string>ANNEX</string>
          <key>item7</key>
          <string></string>
          <key>item8</key>
          <string>6</string>
          <key>item9</key>
          <string>1507</string>
          <key>item10</key>
          <string>chitra.krishnan@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50851</string>
          <key>item1</key>
          <string>Dr.</string>
          <key>item2</key>
          <string>Gargi Raina </string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB2</string>
          <key>item5</key>
          <string>6</string>
          <key>item6</key>
          <string>LAB</string>
          <key>item7</key>
          <string></string>
          <key>item8</key>
          <string>601A</string>
          <key>item9</key>
          <string>1238</string>
          <key>item10</key>
          <string>gargiraina@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50411</string>
          <key>item1</key>
          <string>Prof.</string>
          <key>item2</key>
          <string>Guga Priya G</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>6</string>
          <key>item6</key>
          <string>LAB</string>
          <key>item7</key>
          <string></string>
          <key>item8</key>
          <string>606A</string>
          <key>item9</key>
          <string>1219</string>
          <key>item10</key>
          <string>gugapriya.g@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50564</string>
          <key>item1</key>
          <string>Dr.</string>
          <key>item2</key>
          <string>Hemanth C</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>4</string>
          <key>item6</key>
          <string>ANNEX</string>
          <key>item7</key>
          <string></string>
          <key>item8</key>
          <string>10</string>
          <key>item9</key>
          <string>1460</string>
          <key>item10</key>
          <string>hemanth.c@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50563</string>
          <key>item1</key>
          <string>Dr.</string>
          <key>item2</key>
          <string>Jagannath M</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>5</string>
          <key>item6</key>
          <string>MAIN</string>
          <key>item7</key>
          <string>504</string>
          <key>item8</key>
          <string>3</string>
          <key>item9</key>
          <string>1508</string>
          <key>item10</key>
          <string>jagannath.m@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50414</string>
          <key>item1</key>
          <string>Prof.</string>
          <key>item2</key>
          <string>Jaya Vignesh T</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>4</string>
          <key>item6</key>
          <string>ANNEX</string>
          <key>item7</key>
          <string></string>
          <key>item8</key>
          <string>36</string>
          <key>item9</key>
          <string>1428</string>
          <key>item10</key>
          <string>jayavignesh.t@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50131</string>
          <key>item1</key>
          <string>Dr.</string>
          <key>item2</key>
          <string>John Sahaya Rani Alex</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>4</string>
          <key>item6</key>
          <string>ANNEX</string>
          <key>item7</key>
          <string></string>
          <key>item8</key>
          <string>37</string>
          <key>item9</key>
          <string>1222</string>
          <key>item10</key>
          <string>jsranialex@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50139</string>
          <key>item1</key>
          <string>Dr.</string>
          <key>item2</key>
          <string>Kanchana Bhaaskaran V S</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>ADB</string>
          <key>item5</key>
          <string>1</string>
          <key>item6</key>
          <string>PROVC</string>
          <key>item7</key>
          <string></string>
          <key>item8</key>
          <string></string>
          <key>item9</key>
          <string>1243</string>
          <key>item10</key>
          <string>kanchana.vs@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50863</string>
          <key>item1</key>
          <string>Prof.</string>
          <key>item2</key>
          <string>Karthik R</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>Canteen</string>
          <key>item5</key>
          <string>2</string>
          <key>item6</key>
          <string>MAIN</string>
          <key>item7</key>
          <string></string>
          <key>item8</key>
          <string>6</string>
          <key>item9</key>
          <string>1584</string>
          <key>item10</key>
          <string>karthik.r@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50500</string>
          <key>item1</key>
          <string>Dr.</string>
          <key>item2</key>
          <string>Kaustab Ghosh</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>4</string>
          <key>item6</key>
          <string>ANNEX</string>
          <key>item7</key>
          <string></string>
          <key>item8</key>
          <string>33</string>
          <key>item9</key>
          <string>1203</string>
          <key>item10</key>
          <string>kaustab@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50369</string>
          <key>item1</key>
          <string>Dr.</string>
          <key>item2</key>
          <string>Lakshmi B</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>4</string>
          <key>item6</key>
          <string>ANNEX</string>
          <key>item7</key>
          <string></string>
          <key>item8</key>
          <string>35</string>
          <key>item9</key>
          <string>1181</string>
          <key>item10</key>
          <string>lakshmi.b@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50283</string>
          <key>item1</key>
          <string>Prof.</string>
          <key>item2</key>
          <string>Manikandan P</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>5</string>
          <key>item6</key>
          <string>HARDWARE TROUBLE SHOTTING LAB</string>
          <key>item7</key>
          <string>806</string>
          <key>item8</key>
          <string>806</string>
          <key>item9</key>
          <string>1147</string>
          <key>item10</key>
          <string>manikandan.p@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50358</string>
          <key>item1</key>
          <string>Dr.</string>
          <key>item2</key>
          <string>Manoj Kumar R</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>5</string>
          <key>item6</key>
          <string>MAIN</string>
          <key>item7</key>
          <string></string>
          <key>item8</key>
          <string></string>
          <key>item9</key>
          <string>1047</string>
          <key>item10</key>
          <string>manojkumar.r@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50080</string>
          <key>item1</key>
          <string>Dr.</string>
          <key>item2</key>
          <string>Menaka R</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>2</string>
          <key>item6</key>
          <string>EMBEDDED SYSTEMS LAB</string>
          <key>item7</key>
          <string>214</string>
          <key>item8</key>
          <string>214</string>
          <key>item9</key>
          <string>1215</string>
          <key>item10</key>
          <string>menaka.r@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50922</string>
          <key>item1</key>
          <string>Dr.</string>
          <key>item2</key>
          <string>Mohanaprasad  K</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>7</string>
          <key>item6</key>
          <string>MAIN</string>
          <key>item7</key>
          <string></string>
          <key>item8</key>
          <string>3</string>
          <key>item9</key>
          <string>1380</string>
          <key>item10</key>
          <string>kmohanaprasad@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50407</string>
          <key>item1</key>
          <string>Prof.</string>
          <key>item2</key>
          <string>Muthulakshmi S</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB2</string>
          <key>item5</key>
          <string>5</string>
          <key>item6</key>
          <string>ADVANCE BATTERY LAB</string>
          <key>item7</key>
          <string></string>
          <key>item8</key>
          <string>3</string>
          <key>item9</key>
          <string>1167</string>
          <key>item10</key>
          <string>muthulakshmi.s@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50290</string>
          <key>item1</key>
          <string>Dr.</string>
          <key>item2</key>
          <string>Nagajayanthi B</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>5</string>
          <key>item6</key>
          <string>MAIN</string>
          <key>item7</key>
          <string>504</string>
          <key>item8</key>
          <string>8</string>
          <key>item9</key>
          <string>1174</string>
          <key>item10</key>
          <string>nagajayanthi.b@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50260</string>
          <key>item1</key>
          <string>Prof.</string>
          <key>item2</key>
          <string>Niraj Kumar</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>6</string>
          <key>item6</key>
          <string>ANNEX</string>
          <key>item7</key>
          <string></string>
          <key>item8</key>
          <string>4</string>
          <key>item9</key>
          <string>1123</string>
          <key>item10</key>
          <string>nirajkumar@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50423</string>
          <key>item1</key>
          <string>Prof.</string>
          <key>item2</key>
          <string>Prakash V</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB2</string>
          <key>item5</key>
          <string>5</string>
          <key>item6</key>
          <string>µP &amp; µc LAB</string>
          <key>item7</key>
          <string></string>
          <key>item8</key>
          <string>501</string>
          <key>item9</key>
          <string>1424</string>
          <key>item10</key>
          <string>prakash.v@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50310</string>
          <key>item1</key>
          <string>Prof.</string>
          <key>item2</key>
          <string>Prathiba A</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>8</string>
          <key>item6</key>
          <string>SEMI CONDUCTOR LAB</string>
          <key>item7</key>
          <string>807</string>
          <key>item8</key>
          <string>807</string>
          <key>item9</key>
          <string>1178</string>
          <key>item10</key>
          <string>prathiba.a@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50409</string>
          <key>item1</key>
          <string>Prof.</string>
          <key>item2</key>
          <string>Ralph Samuel Thangaraj</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>1</string>
          <key>item6</key>
          <string>ANNEX</string>
          <key>item7</key>
          <string></string>
          <key>item8</key>
          <string>5</string>
          <key>item9</key>
          <string>1379</string>
          <key>item10</key>
          <string>ralph.thangaraj@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50425</string>
          <key>item1</key>
          <string>Prof.</string>
          <key>item2</key>
          <string>Ramesh R</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>5</string>
          <key>item6</key>
          <string>MAIN</string>
          <key>item7</key>
          <string>504</string>
          <key>item8</key>
          <string>6</string>
          <key>item9</key>
          <string>1433</string>
          <key>item10</key>
          <string>ramesh.R@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50424</string>
          <key>item1</key>
          <string>Prof.</string>
          <key>item2</key>
          <string>Ravi Prakash Dwivedi</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>4</string>
          <key>item6</key>
          <string>ANNEX</string>
          <key>item7</key>
          <string></string>
          <key>item8</key>
          <string>34</string>
          <key>item9</key>
          <string>1217</string>
          <key>item10</key>
          <string>raviprakash.dwivedi@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50165</string>
          <key>item1</key>
          <string>Dr.</string>
          <key>item2</key>
          <string>Ravi Sankar A</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>7</string>
          <key>item6</key>
          <string>ANNEX</string>
          <key>item7</key>
          <string></string>
          <key>item8</key>
          <string>8</string>
          <key>item9</key>
          <string>1274</string>
          <key>item10</key>
          <string>ravisankar.a@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50583</string>
          <key>item1</key>
          <string>Prof.</string>
          <key>item2</key>
          <string>Ravi V</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>6</string>
          <key>item6</key>
          <string>ANNEX</string>
          <key>item7</key>
          <string></string>
          <key>item8</key>
          <string>8</string>
          <key>item9</key>
          <string>1494</string>
          <key>item10</key>
          <string>ravi.v@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50077</string>
          <key>item1</key>
          <string>Dr.</string>
          <key>item2</key>
          <string>Reena Monica P</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>3</string>
          <key>item6</key>
          <string>ANNEX</string>
          <key>item7</key>
          <string></string>
          <key>item8</key>
          <string></string>
          <key>item9</key>
          <string>1213</string>
          <key>item10</key>
          <string>reenamonica@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50066</string>
          <key>item1</key>
          <string>Dr.</string>
          <key>item2</key>
          <string>Revathi S</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>5</string>
          <key>item6</key>
          <string>COMMUNICATION LAB</string>
          <key>item7</key>
          <string>505</string>
          <key>item8</key>
          <string>505</string>
          <key>item9</key>
          <string>1214</string>
          <key>item10</key>
          <string>revathi.s@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50065</string>
          <key>item1</key>
          <string>Prof.</string>
          <key>item2</key>
          <string>Sailaja V</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>5</string>
          <key>item6</key>
          <string>MAIN</string>
          <key>item7</key>
          <string>504</string>
          <key>item8</key>
          <string>9</string>
          <key>item9</key>
          <string>1211</string>
          <key>item10</key>
          <string>sailaja.v@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50278</string>
          <key>item1</key>
          <string>Prof.</string>
          <key>item2</key>
          <string>Sakthivel S M</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>6</string>
          <key>item6</key>
          <string>Advanced VLSI Design Lab</string>
          <key>item7</key>
          <string>607B</string>
          <key>item8</key>
          <string>607B</string>
          <key>item9</key>
          <string>1151</string>
          <key>item10</key>
          <string>sakthivel.sm@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50604</string>
          <key>item1</key>
          <string>Dr.</string>
          <key>item2</key>
          <string>Sangeetha R G</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>4</string>
          <key>item6</key>
          <string>ANNEX</string>
          <key>item7</key>
          <string></string>
          <key>item8</key>
          <string>32</string>
          <key>item9</key>
          <string>1462</string>
          <key>item10</key>
          <string>sangeetha.rg@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50416</string>
          <key>item1</key>
          <string>Prof.</string>
          <key>item2</key>
          <string>Saranya Nair M</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>7</string>
          <key>item6</key>
          <string>FIBER OPTIC LAB</string>
          <key>item7</key>
          <string>707C</string>
          <key>item8</key>
          <string>707C</string>
          <key>item9</key>
          <string>1127</string>
          <key>item10</key>
          <string>saranyanair.m@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>51143</string>
          <key>item1</key>
          <string>Dr.</string>
          <key>item2</key>
          <string>Sekar Sathya Narayanan</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB2</string>
          <key>item5</key>
          <string>4</string>
          <key>item6</key>
          <string>MAIN</string>
          <key>item7</key>
          <string></string>
          <key>item8</key>
          <string>4</string>
          <key>item9</key>
          <string>1184</string>
          <key>item10</key>
          <string>sathiyanarayanan.s@vit.ac.in </string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50780</string>
          <key>item1</key>
          <string>Dr.</string>
          <key>item2</key>
          <string>Sivasubramanian A</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1/  Dean&apos;s Cabin - AB1</string>
          <key>item5</key>
          <string>6</string>
          <key>item6</key>
          <string>MAIN/ANNEX</string>
          <key>item7</key>
          <string>504</string>
          <key>item8</key>
          <string>8/12</string>
          <key>item9</key>
          <string>1575</string>
          <key>item10</key>
          <string>sivasubramanian.a@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50906</string>
          <key>item1</key>
          <string>Dr.</string>
          <key>item2</key>
          <string>Sofana Reka S</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB2</string>
          <key>item5</key>
          <string>2</string>
          <key>item6</key>
          <string>MAIN</string>
          <key>item7</key>
          <string></string>
          <key>item8</key>
          <string>2</string>
          <key>item9</key>
          <string>1613</string>
          <key>item10</key>
          <string>sofanareka.s@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50427</string>
          <key>item1</key>
          <string>Prof.</string>
          <key>item2</key>
          <string>Srivatsan K</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>5</string>
          <key>item6</key>
          <string>MAIN</string>
          <key>item7</key>
          <string></string>
          <key>item8</key>
          <string>2</string>
          <key>item9</key>
          <string>1430</string>
          <key>item10</key>
          <string>srivatsan.k@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50078</string>
          <key>item1</key>
          <string>Dr.</string>
          <key>item2</key>
          <string>Subhashini N</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>4</string>
          <key>item6</key>
          <string>ANNEXURE</string>
          <key>item7</key>
          <string></string>
          <key>item8</key>
          <string>38</string>
          <key>item9</key>
          <string>1216</string>
          <key>item10</key>
          <string>subhashini.n@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50584</string>
          <key>item1</key>
          <string>Dr.</string>
          <key>item2</key>
          <string>Suchetha M </string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>7</string>
          <key>item6</key>
          <string>DSPLAB</string>
          <key>item7</key>
          <string>707</string>
          <key>item8</key>
          <string>707</string>
          <key>item9</key>
          <string>1461</string>
          <key>item10</key>
          <string>suchetha.m@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50911</string>
          <key>item1</key>
          <string>Dr.</string>
          <key>item2</key>
          <string>Suganthi K</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB2</string>
          <key>item5</key>
          <string>2</string>
          <key>item6</key>
          <string>MAIN</string>
          <key>item7</key>
          <string></string>
          <key>item8</key>
          <string>4</string>
          <key>item9</key>
          <string>1612</string>
          <key>item10</key>
          <string>suganthi.k@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50861</string>
          <key>item1</key>
          <string>Dr.</string>
          <key>item2</key>
          <string>Susan Elias</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>5</string>
          <key>item6</key>
          <string>MAIN</string>
          <key>item7</key>
          <string>504</string>
          <key>item8</key>
          <string>14</string>
          <key>item9</key>
          <string>1583</string>
          <key>item10</key>
          <string>susan.elias@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>51067</string>
          <key>item1</key>
          <string>Dr.</string>
          <key>item2</key>
          <string>Thiripurasundari D</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>5</string>
          <key>item6</key>
          <string>MAIN</string>
          <key>item7</key>
          <string>504</string>
          <key>item8</key>
          <string>10</string>
          <key>item9</key>
          <string>1614</string>
          <key>item10</key>
          <string>dthiripurasundari@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50428</string>
          <key>item1</key>
          <string>Prof.</string>
          <key>item2</key>
          <string>Umadevi S</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>5</string>
          <key>item6</key>
          <string>MAIN</string>
          <key>item7</key>
          <string>504</string>
          <key>item8</key>
          <string>4</string>
          <key>item9</key>
          <string>1427</string>
          <key>item10</key>
          <string>umadevi.s@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50252</string>
          <key>item1</key>
          <string>Dr.</string>
          <key>item2</key>
          <string>Usha Kiran Kommuri</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB2</string>
          <key>item5</key>
          <string>BASEMENT</string>
          <key>item6</key>
          <string>MICROWAVE LAB</string>
          <key>item7</key>
          <string>003</string>
          <key>item8</key>
          <string>003</string>
          <key>item9</key>
          <string>1366</string>
          <key>item10</key>
          <string>usha.kiran@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50777</string>
          <key>item1</key>
          <string>Dr.</string>
          <key>item2</key>
          <string>Velmathi G</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>7</string>
          <key>item6</key>
          <string>VLSI LAB</string>
          <key>item7</key>
          <string>706</string>
          <key>item8</key>
          <string>706</string>
          <key>item9</key>
          <string>1563</string>
          <key>item10</key>
          <string>velmathi.g@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50585</string>
          <key>item1</key>
          <string>Dr.</string>
          <key>item2</key>
          <string>Vetrivelan P</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>5</string>
          <key>item6</key>
          <string>MAIN</string>
          <key>item7</key>
          <string>504</string>
          <key>item8</key>
          <string>6</string>
          <key>item9</key>
          <string>1146</string>
          <key>item10</key>
          <string>vetrivelan.p@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50385</string>
          <key>item1</key>
          <string>Dr.</string>
          <key>item2</key>
          <string>Vigneswaran T</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>5</string>
          <key>item6</key>
          <string>DIGITAL LAB</string>
          <key>item7</key>
          <string>506A</string>
          <key>item8</key>
          <string>506A</string>
          <key>item9</key>
          <string>1177</string>
          <key>item10</key>
          <string>vigneswaran.t@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50441</string>
          <key>item1</key>
          <string>Dr.</string>
          <key>item2</key>
          <string>Vijayakumar P</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>4</string>
          <key>item6</key>
          <string>ANNEXURE</string>
          <key>item7</key>
          <string></string>
          <key>item8</key>
          <string>15</string>
          <key>item9</key>
          <string>1431</string>
          <key>item10</key>
          <string>vijaya.kumar@vit.ac.in</string>
    </dict>
    <dict>
          <key>item0</key>
          <string>50908</string>
          <key>item1</key>
          <string>Dr.</string>
          <key>item2</key>
          <string>Vydeki D</string>
          <key>item3</key>
          <string>SENSE</string>
          <key>item4</key>
          <string>AB1</string>
          <key>item5</key>
          <string>5</string>
          <key>item6</key>
          <string>IOT LAB</string>
          <key>item7</key>
          <string>505A</string>
          <key>item8</key>
          <string>505A</string>
          <key>item9</key>
          <string>1611</string>
          <key>item10</key>
          <string>vydeki.d@vit.ac.in</string>
    </dict>
</array>
</plist>